body{
    background-color: rgba(199, 247, 199, 0.336);
   
}
th,
td {
  border: 2px solid #333;
  /* background-color: #333; */
  color: rgb(0, 0, 0);
  font-size: 35px;
}
input{
font-size: 25px;
}
#demo1,#demo2,#demo3{
  
  width: 350px;
  font-size: 35px;
}

